name: Build Beta Jar

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'recursive'
      - name: Set up JDK 8
        uses: actions/setup-java@v4
        with:
          java-version: '8'
          distribution: 'temurin'
      - uses: gradle/actions/setup-gradle@v4
      - name: Build with Gradle
        run: ./gradlew betaJar
      - uses: actions/upload-artifact@v4
        with:
          name: APKEditor
          path: build/libs
